.signUp {
    display: flex;
    justify-content: center;
    padding: 59px 0;
    background: #EBEEF3;
    height: 100%;
}

.form_signUp {
    width: 384px;
    display: flex;
    padding: 28px 22px;
    flex-direction: column;
    gap: 21px;
    border-radius: 6px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
    justify-items: center;
    align-items: center;
}

.checkbox {
    color: #595959;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.checkbox-label {
    display: flex;
    flex-direction: row;
    max-width: 320px;
    gap: 10px;
    border-top: 1px solid #E8E8E8;
    padding-top: 8px;
}

.redirect-text {
    color: #8C8C8C;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}

.sign-in-link {
    color: #1890FF;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}